.btn {
	color: black;
	text-decoration: none;
	font-family: 'Courier New', Courier, monospace;
	font-size: 20px;
	font-weight: 900;
	background-color: #00ff48;
	padding: 10px;
	border-radius: 10px;
	transition: background-color .2s ease;
}

.btn:hover {
	background-color: #00ff48;
}

.active {
	composes: btn;
	font-weight: bold;
	background-color: #00ff48;
}

.loading {
	composes: btn;
	color: gray;
}

.div {
	font-size: 50px;
    display: flex;
    align-items: center;
	justify-content: center;
	gap: 20px;
	margin-bottom: 20px;
}