.text {
    width: 900px;
    height: 500px;
    resize: none;
    box-shadow: 2px 2px 5px;
}

.text1 {
    width: 800px;
    height: 300px;
    resize: none;
    box-shadow: 2px 2px 5px;
}

.create {
    padding: 10px;
    border: none;
    border-radius: 5px;
	background-color: #00ff48;
    text-transform: uppercase;
    box-shadow: 2px 2px 5px;
    cursor: pointer;
    transition:background-color .2s ease;
}

.create:hover {
	background-color: #00ff48;
}