.li {
    background-color: rgb(159, 191, 236);
    width: 350px;
    height: 20px;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    box-shadow: 2px 2px 5px;
}